In [45]:
import pandas as pd

In [46]:
target = pd.read_csv("data/val_df.csv")
pred = pd.read_csv("data/validation.csv")
train = pd.read_csv('data/hw1_train.csv')

In [47]:
(pred.iloc[:, 1:] == target.iloc[:, 1:]).all(axis=1).astype(int).sum(axis=0)

182

In [48]:
# ones it got wrong
(pred.iloc[:, 2:] != target.iloc[:, 2:]).astype(int).sum()

actor.gender                   1
gr.amount                      1
movie.country                  9
movie.directed_by             11
movie.estimated_budget         0
movie.genre                    4
movie.gross_revenue            3
movie.initial_release_date     7
movie.language                 0
movie.locations                0
movie.music                    1
movie.produced_by              5
movie.production_companies     4
movie.rating                   4
movie.starring.actor          14
movie.starring.character       1
movie.subjects                 2
person.date_of_birth           0
dtype: int64

In [22]:
# number of classwise target labels
target.iloc[:, 2:].astype(int).sum()

actor.gender                   1
gr.amount                      1
movie.country                 21
movie.directed_by             36
movie.estimated_budget         3
movie.genre                   13
movie.gross_revenue            7
movie.initial_release_date    20
movie.language                23
movie.locations                0
movie.music                    1
movie.produced_by             16
movie.production_companies     9
movie.rating                  17
movie.starring.actor          42
movie.starring.character       1
movie.subjects                11
person.date_of_birth           1
dtype: int64

In [44]:
(pred.iloc[:, 2:] != target.iloc[:, 2:]).astype(int).sum()/target.iloc[:, 2:].astype(int).sum()

actor.gender                  1.000000
gr.amount                     1.000000
movie.country                 0.428571
movie.directed_by             0.305556
movie.estimated_budget        0.000000
movie.genre                   0.307692
movie.gross_revenue           0.428571
movie.initial_release_date    0.350000
movie.language                0.000000
movie.locations                    NaN
movie.music                   1.000000
movie.produced_by             0.312500
movie.production_companies    0.444444
movie.rating                  0.235294
movie.starring.actor          0.333333
movie.starring.character      1.000000
movie.subjects                0.181818
person.date_of_birth          0.000000
dtype: float64

In [36]:
pred[pred['movie.directed_by']!=target['movie.directed_by']][['UTTERANCES','movie.directed_by']]

                                            UTTERANCES  movie.directed_by
50             who directed the musical score in barfi                  1
91                find movies directed by eddie murphy                  0
135                ticket sales for the movie avengers                  1
153  how much did james cameron have to spend to ma...                  0
161                                     who was in now                  1
179                                       sergio leone                  1
185                              movies with tom hanks                  1
189                 what movies has jj abrams procuced                  1
195                   what studio made the dark knight                  1
210               rate r movies for adult enterainment                  1
227               what movies did matt damon appear in                  1

In [37]:
target[pred['movie.directed_by']!=target['movie.directed_by']][['UTTERANCES','movie.directed_by']]

                                            UTTERANCES  movie.directed_by
50             who directed the musical score in barfi                  0
91                find movies directed by eddie murphy                  1
135                ticket sales for the movie avengers                  0
153  how much did james cameron have to spend to ma...                  1
161                                     who was in now                  0
179                                       sergio leone                  0
185                              movies with tom hanks                  0
189                 what movies has jj abrams procuced                  0
195                   what studio made the dark knight                  0
210               rate r movies for adult enterainment                  0
227               what movies did matt damon appear in                  0

In [38]:
pred[pred['movie.starring.actor']!=target['movie.starring.actor']][['UTTERANCES','movie.starring.actor']]

                                            UTTERANCES  movie.starring.actor
7                  what films has selena gomez been in                     0
10                                 who acts in forager                     0
22            actors in house at the end of the street                     0
25               what movies did clint eastwood direct                     1
63       find for information about the cast of appolo                     0
91                find movies directed by eddie murphy                     1
100                   how long has black swan been out                     1
127                     tell me about michelle pfiefer                     1
161                                     who was in now                     0
184                            about life is beautiful                     1
190  i wonder how many movies alfred hitchcock was ...                     0
214                             find the movie hum tum                     1
225                                   eva mendes films                     0
227               what movies did matt damon appear in                     0

In [39]:
target[pred['movie.starring.actor']!=target['movie.starring.actor']][['UTTERANCES','movie.starring.actor']]

                                            UTTERANCES  movie.starring.actor
7                  what films has selena gomez been in                     1
10                                 who acts in forager                     1
22            actors in house at the end of the street                     1
25               what movies did clint eastwood direct                     0
63       find for information about the cast of appolo                     1
91                find movies directed by eddie murphy                     0
100                   how long has black swan been out                     0
127                     tell me about michelle pfiefer                     0
161                                     who was in now                     1
184                            about life is beautiful                     0
190  i wonder how many movies alfred hitchcock was ...                     1
214                             find the movie hum tum                     0
225                                   eva mendes films                     1
227               what movies did matt damon appear in                     1

In [53]:
((pred.iloc[:, 2:] != target.iloc[:, 2:]).astype(int).sum()/5).values

array([0.2, 0.2, 1.8, 2.2, 0. , 0.8, 0.6, 1.4, 0. , 0. , 0.2, 1. , 0.8,
       0.8, 2.8, 0.2, 0.4, 0. ])

In [55]:
import torch

In [57]:
a=torch.tensor([0.2, 0.2, 1.8, 2.2, 0. , 0.8, 0.6, 1.4, 0. , 0. , 0.2, 1. , 0.8,
       0.8, 2.8, 0.2, 0.4, 0. ])

In [62]:
a[a<1]=1

In [63]:
a=

tensor([1.0000, 1.0000, 1.8000, 2.2000, 1.0000, 1.0000, 1.0000, 1.4000, 1.0000,
        1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 2.8000, 1.0000, 1.0000, 1.0000])

In [64]:
import nltk