In [99]:
import numpy as np
import pandas as pd

In [100]:
df = pd.read_csv("data/hw1_train.csv")

In [73]:
df["CORE RELATIONS"] = df["CORE RELATIONS"].str.split(" ")

In [74]:
# df["CORE RELATIONS"]=df["CORE RELATIONS"].apply(lambda x: sorted(x))

In [75]:
edf = df.explode('CORE RELATIONS')

In [76]:
edf["values"]=str(1)

In [77]:
pdf=edf.pivot(columns="CORE RELATIONS", index='ID', values='values').fillna(str(0))

In [78]:
pdf

CORE RELATIONS,actor.gender,gr.amount,movie.country,movie.directed_by,movie.estimated_budget,movie.genre,movie.gross_revenue,movie.initial_release_date,movie.language,movie.locations,movie.music,movie.produced_by,movie.production_companies,movie.rating,movie.starring.actor,movie.starring.character,movie.subjects,none,person.date_of_birth
ID,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2307,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2308,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2309,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2310,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2311,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [215]:
pdf['UTTERANCES'] = df['UTTERANCES']

In [216]:
pdf.columns[1]

'gr.amount'

In [217]:
pdf[['UTTERANCES','actor.gender', 'gr.amount', 'movie.country', 'movie.directed_by',
       'movie.estimated_budget', 'movie.genre', 'movie.gross_revenue',
       'movie.initial_release_date', 'movie.language', 'movie.locations',
       'movie.music', 'movie.produced_by', 'movie.production_companies',
       'movie.rating', 'movie.starring.actor', 'movie.starring.character',
       'movie.subjects', 'none', 'person.date_of_birth', ]]

CORE RELATIONS,UTTERANCES,actor.gender,gr.amount,movie.country,movie.directed_by,movie.estimated_budget,movie.genre,movie.gross_revenue,movie.initial_release_date,movie.language,movie.locations,movie.music,movie.produced_by,movie.production_companies,movie.rating,movie.starring.actor,movie.starring.character,movie.subjects,none,person.date_of_birth
ID,,,,,,,,,,,,,,,,,,,,
0,who plays luke on star wars new hope,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
1,show credits for the godfather,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,who was the main actor in the exorcist,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,find the female actress from the movie she's t...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,who played dory on finding nemo,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2307,what was the revenue for toy story 3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2308,dark knight revenue,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2309,how much did the dark night generate,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2310,can i see the lion king's revenue,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2311,can i see what the lion king's revenue was,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [218]:
df

,ID,UTTERANCES,CORE RELATIONS
0,0,who plays luke on star wars new hope,"[movie.starring.actor, movie.starring.character]"
1,1,show credits for the godfather,[movie.starring.actor]
2,2,who was the main actor in the exorcist,[movie.starring.actor]
3,3,find the female actress from the movie she's t...,"[movie.starring.actor, actor.gender]"
4,4,who played dory on finding nemo,"[movie.starring.actor, movie.starring.character]"
...,...,...,...
2307,2307,what was the revenue for toy story 3,[movie.gross_revenue]
2308,2308,dark knight revenue,[movie.gross_revenue]
2309,2309,how much did the dark night generate,[movie.gross_revenue]
2310,2310,can i see the lion king's revenue,[movie.gross_revenue]
2311,2311,can i see what the lion king's revenue was,[movie.gross_revenue]

In [219]:
pdf

CORE RELATIONS,actor.gender,gr.amount,movie.country,movie.directed_by,movie.estimated_budget,movie.genre,movie.gross_revenue,movie.initial_release_date,movie.language,movie.locations,movie.music,movie.produced_by,movie.production_companies,movie.rating,movie.starring.actor,movie.starring.character,movie.subjects,none,person.date_of_birth,UTTERANCES
ID,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,who plays luke on star wars new hope
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,show credits for the godfather
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,who was the main actor in the exorcist
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,find the female actress from the movie she's t...
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,who played dory on finding nemo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2307,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,what was the revenue for toy story 3
2308,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,dark knight revenue
2309,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,how much did the dark night generate
2310,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,can i see the lion king's revenue
2311,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,can i see what the lion king's revenue was

In [283]:
from sklearn.model_selection import train_test_split

In [221]:
X, Y = pdf.iloc[:, 0:1], pdf.iloc[:, 1:]

In [150]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.10, random_state=0)

In [155]:
train_df = pd.concat([X_train, y_train], axis=1)
val_df = pd.concat([X_test, y_test], axis=1)

In [249]:
train_df

CORE RELATIONS,UTTERANCES,actor.gender,gr.amount,movie.country,movie.directed_by,movie.estimated_budget,movie.genre,movie.gross_revenue,movie.initial_release_date,movie.language,movie.locations,movie.music,movie.produced_by,movie.production_companies,movie.rating,movie.starring.actor,movie.starring.character,movie.subjects,none,person.date_of_birth
ID,,,,,,,,,,,,,,,,,,,,
2307,what was the revenue for toy story 3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1864,pg movies,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
117,who was in the movie hitch,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1160,watch century fox movies,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
361,release date for little women,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,please show me info on the movie dirty dancing,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1731,i want to see anne hathaway's latest movie,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
763,can you find me movies in russian,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
835,show me a list of all movies made in the unite...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1653,which movies have zombies in them,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [157]:
val_df

CORE RELATIONS,UTTERANCES,actor.gender,gr.amount,movie.country,movie.directed_by,movie.estimated_budget,movie.genre,movie.gross_revenue,movie.initial_release_date,movie.language,movie.locations,movie.music,movie.produced_by,movie.production_companies,movie.rating,movie.starring.actor,movie.starring.character,movie.subjects,none,person.date_of_birth
ID,,,,,,,,,,,,,,,,,,,,
2154,show me the producer of the godfather,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
563,can you tell me who is the director of batman,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
789,get details of original finding nemo movie,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1325,list french movies,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
570,who directed the movie the thing called love,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629,what movies did matt damon appear in,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1510,show me movies starring denzel washington,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1585,movies with r rating,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
578,director of the cabin in the woods,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
600,who directed the sound of music,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [158]:
train_df.to_csv("data/train_df.csv", index=True)
val_df.to_csv("data/val_df.csv", index=True)

In [59]:
from scripts.datatools import make_vectorizer

In [285]:
v= make_vectorizer('data/hw1_train.csv')

In [286]:
v.transform(['some thing in ', 'something in the rain']).toarray().shape

(2, 1016)

In [231]:
b= make_vectorizer('data/hw1_train.csv')

In [287]:
len(v.vocabulary_)

1016

In [274]:
pdf.astype(int).sum()/len(pdf)

CORE RELATIONS
actor.gender                  0.003893
gr.amount                     0.002163
movie.country                 0.096453
movie.directed_by             0.149654
movie.estimated_budget        0.034170
movie.genre                   0.055796
movie.gross_revenue           0.014706
movie.initial_release_date    0.081747
movie.language                0.095156
movie.locations               0.001298
movie.music                   0.001298
movie.produced_by             0.075692
movie.production_companies    0.040225
movie.rating                  0.091263
movie.starring.actor          0.153547
movie.starring.character      0.009516
movie.subjects                0.040657
none                          0.137976
person.date_of_birth          0.002595
dtype: float64

In [60]:
import spacy
import spacy_cleaner
from spacy_cleaner.processing import removers, replacers, mutators, transformers

model = spacy.load("en_core_web_sm")
pipeline = spacy_cleaner.Cleaner(
    model,
    removers.remove_number_token,
)

/opt/miniconda3/envs/ml/lib/python3.11/site-packages/spacy/util.py:910: UserWarning: [W095] Model 'en_core_web_sm' (3.8.0) was trained with spaCy v3.8.0 and may not be 100% compatible with the current version (3.7.5). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [61]:
df["UTTERANCES"]=pipeline.clean(df["UTTERANCES"])

Cleaning Progress: 100%|██████████| 2312/2312 [00:02<00:00, 1071.21it/s]

In [62]:
df["UTTERANCES"]

0                    who plays luke on star wars new hope
1                          show credits for the godfather
2                  who was the main actor in the exorcist
3       find the female actress from the movie she 's ...
4                         who played dory on finding nemo
                              ...
2307                   what was the revenue for toy story
2308                                  dark knight revenue
2309                 how much did the dark night generate
2310                   can i see the lion king 's revenue
2311          can i see what the lion king 's revenue was
Name: UTTERANCES, Length: 2312, dtype: object

In [66]:
df["UTTERANCES"]=df["UTTERANCES"].apply(lambda x: ''.join((item for item in x if not item.isdigit())))

In [106]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words='english', max_features=1500)
vectorizer.fit(df['UTTERANCES'].values)

TfidfVectorizer(max_features=1500, stop_words='english')

In [110]:
vectorizer.transform(["some text with the movie"]).toarray().all()

False

In [102]:
len(vectorizer.vocabulary_)

1016

In [98]:
sorted(vectorizer.vocabulary_)

['1000',
 '11',
 '13',
 '13th',
 '16',
 '17',
 '1990',
 '1st',
 '20',
 '21',
 '24',
 'aankhen',
 'abrams',
 'abramson',
 'acted',
 'action',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'adult',
 'adults',
 'africa',
 'age',
 'aguirre',
 'alan',
 'albert',
 'alfred',
 'allen',
 'amazing',
 'america',
 'american',
 'anderson',
 'andrew',
 'angelina',
 'angels',
 'animated',
 'aniston',
 'anna',
 'annamayya',
 'anne',
 'ants',
 'anymore',
 'apocolypse',
 'apollo',
 'appear',
 'appeared',
 'appolo',
 'appropriate',
 'arts',
 'asia',
 'audience',
 'available',
 'avatar',
 'avenger',
 'avengers',
 'avergers',
 'away',
 'background',
 'bacon',
 'bala',
 'bale',
 'bank',
 'barbra',
 'barfi',
 'barry',
 'barrymore',
 'baseball',
 'based',
 'basketball',
 'batman',
 'baumbach',
 'bay',
 'beatiful',
 'beautiful',
 'beauty',
 'begins',
 'believe',
 'belle',
 'belongs',
 'bengali',
 'benigni',
 'berry',
 'best',
 'bette',
 'big',
 'bings',
 'bio',
 'biography',
 'birds',
 'birthday',
 'black',
 'blanca',
 'bleibtreu',
 'blind',
 'boots',
 'born',
 'bourne',
 'brad',
 'brazil',
 'break',
 'brian',
 'bring',
 'britain',
 'british',
 'brooks',
 'bros',
 'brothers',
 'browse',
 'bruce',
 'bruckheimer',
 'budget',
 'budgeted',
 'buget',
 'bullhead',
 'bullock',
 'bundle',
 'burton',
 'busters',
 'cabin',
 'calendar',
 'called',
 'came',
 'cameron',
 'camp',
 'campaign',
 'canada',
 'canadian',
 'capra',
 'captain',
 'career',
 'cars',
 'casa',
 'casino',
 'cast',
 'castle',
 'castmembers',
 'category',
 'catergory',
 'cecil',
 'cell',
 'century',
 'chan',
 'character',
 'characters',
 'charles',
 'charlie',
 'chaser',
 'check',
 'cher',
 'chess',
 'chewbakka',
 'chick',
 'children',
 'childrens',
 'childs',
 'china',
 'chinese',
 'chips',
 'chiranjeevi',
 'chopra',
 'chris',
 'chrisian',
 'christ',
 'christian',
 'citizen',
 'clark',
 'classification',
 'classified',
 'clint',
 'clive',
 'clooney',
 'clueless',
 'columbia',
 'columbus',
 'come',
 'comedies',
 'comedy',
 'comes',
 'coming',
 'companies',
 'company',
 'compile',
 'complete',
 'compliance',
 'composer',
 'concerning',
 'congeniality',
 'connery',
 'considered',
 'content',
 'copolla',
 'cortlund',
 'cost',
 'costars',
 'costner',
 'costs',
 'country',
 'courageous',
 'credits',
 'crew',
 'crowe',
 'cruise',
 'cujo',
 'cukor',
 'current',
 'currently',
 'curve',
 'cusack',
 'cuts',
 'czech',
 'damon',
 'dancing',
 'danish',
 'dark',
 'darla',
 'darth',
 'data',
 'date',
 'dawn',
 'dax',
 'day',
 'days',
 'dead',
 'deal',
 'debaters',
 'debut',
 'decade',
 'deer',
 'degeneres',
 'demille',
 'deniro',
 'denzel',
 'depp',
 'detailed',
 'details',
 'devil',
 'diane',
 'diaz',
 'dick',
 'did',
 'die',
 'different',
 'diggs',
 'direct',
 'directed',
 'directing',
 'director',
 'directors',
 'directs',
 'dirty',
 'discuss',
 'disney',
 'dispaly',
 'display',
 'diving',
 'does',
 'dogs',
 'dollhouse',
 'don',
 'dory',
 'drama',
 'dramas',
 'dreams',
 'dreamworks',
 'dredd',
 'drew',
 'driver',
 'dutch',
 'earnings',
 'eastwood',
 'ed',
 'eddie',
 'elizabeth',
 'ellen',
 'elling',
 'elvis',
 'emma',
 'end',
 'england',
 'english',
 'enterainment',
 'entertainment',
 'episode',
 'esme',
 'et',
 'europe',
 'eva',
 'evil',
 'exhibit',
 'exorcist',
 'expect',
 'expecting',
 'expendables',
 'experience',
 'facing',
 'facts',
 'falls',
 'family',
 'fantasy',
 'farrell',
 'fat',
 'father',
 'favorites',
 'fellows',
 'female',
 'ferell',
 'ferrell',
 'fi',
 'field',
 'figure',
 'film',
 'filmed',
 'filmography',
 'films',
 'finding',
 'fleming',
 'flicks',
 'floats',
 'flowers',
 'footloose',
 'footnote',
 'forager',
 'ford',
 'foreign',
 'forest',
 'forever',
 'fox',
 'france',
 'frances',
 'frank',
 'frankenstein',
 'free',
 'freedom',
 'freeman',
 'french',
 'friday',
 'friendly',
 'funny',
 'fury',
 'future',
 'gable',
 'gables',
 'gabrielle',
 'gambling',
 'game',
 'games',
 'gatsby',
 'general',
 'generate',
 'generated',
 'genre',
 'george',
 'georges',
 'german',
 'germany',
 'ghost',
 'giants',
 'gibson',
 'gilda',
 'girl',
 'girls',
 'glazer',
 'god',
 'godfather',
 'godzilla',
 'gomez',
 'gone',
 'good',
 'goodfellas',
 'goto',
 'grease',
 'great',
 'greek',
 'green',
 'grizzly',
 'gross',
 'grossing',
 'guido',
 'gump',
 'gun',
 'guy',
 'guys',
 'gyllenhaal',
 'halle',
 'halloween',
 'hamlet',
 'han',
 'hangover',
 'hanks',
 'happiness',
 'hard',
 'harris',
 'harrison',
 'harry',
 'hathaway',
 'having',
 'havre',
 'help',
 'herione',
 'hero',
 'heroine',
 'high',
 'highest',
 'hindi',
 'historical',
 'history',
 'hitch',
 'hitchcock',
 'hitting',
 'hobbist',
 'hobbit',
 'hobby',
 'hold',
 'hollywood',
 'holmes',
 'home',
 'homepage',
 'homer',
 'hope',
 'hornet',
 'horror',
 'horses',
 'hotel',
 'house',
 'howard',
 'hugh',
 'hulk',
 'hum',
 'hungarian',
 'hungary',
 'hunger',
 'hunter',
 'huntsman',
 'ice',
 'identity',
 'immigrants',
 'immigration',
 'inception',
 'incredibles',
 'india',
 'indian',
 'indochine',
 'info',
 'infomation',
 'informaion',
 'information',
 'interested',
 'involve',
 'involves',
 'ireland',
 'iron',
 'italian',
 'italy',
 'iv',
 'jack',
 'jackie',
 'jackman',
 'jake',
 'james',
 'japan',
 'japaneese',
 'japanese',
 'jason',
 'jaws',
 'jennifer',
 'jerry',
 'jj',
 'johar',
 'john',
 'johnny',
 'jolie',
 'jon',
 'ju',
 'julia',
 'julian',
 'july',
 'jurassic',
 'kane',
 'kannada',
 'karan',
 'karate',
 'kareena',
 'karinia',
 'kati',
 'katie',
 'keaton',
 'kevin',
 'kid',
 'kids',
 'kill',
 'kind',
 'kindly',
 'king',
 'kingdom',
 'kinky',
 'knight',
 'know',
 'korean',
 'krishna',
 'kristen',
 'kristenn',
 'la',
 'ladies',
 'lambs',
 'land',
 'landau',
 'language',
 'languages',
 'lately',
 'latest',
 'laurie',
 'law',
 'lawless',
 'lawrence',
 'le',
 'lead',
 'learn',
 'lee',
 'leone',
 'les',
 'lester',
 'life',
 'like',
 'lion',
 'lionsgate',
 'list',
 'listed',
 'listing',
 'little',
 'locate',
 'long',
 'look',
 'looking',
 'looper',
 'lord',
 'lost',
 'love',
 'lucas',
 'lucus',
 'lucy',
 'luke',
 'lumit',
 'macdonald',
 'madagascar',
 'magic',
 'magnolias',
 'main',
 'make',
 'making',
 'male',
 'man',
 'mandarin',
 'mario',
 'marley',
 'martin',
 'mask',
 'master',
 'matt',
 'mcgovern',
 'mechanic',
 'meg',
 'mel',
 'members',
 'men',
 'mendes',
 'mermaid',
 'meryl',
 'mexican',
 'mgm',
 'michael',
 'michelle',
 'midler',
 'millionaire',
 'miramax',
 'mirror',
 'miserable',
 'moby',
 'mockingbird',
 'modern',
 'moives',
 'money',
 'month',
 'mood',
 'moon',
 'morgan',
 'moritz',
 'moscow',
 'mosfilm',
 'movie',
 'movies',
 'mpaa',
 'ms',
 'murphy',
 'music',
 'musical',
 'musicals',
 'muvva',
 'mystery',
 'names',
 'nature',
 'nc',
 'need',
 'nemo',
 'network',
 'new',
 'newest',
 'nick',
 'niel',
 'night',
 'noah',
 'nolan',
 'norway',
 'official',
 'ok',
 'old',
 'oldest',
 'oliver',
 'olsen',
 'ondskan',
 'open',
 'opening',
 'option',
 'options',
 'oranges',
 'origin',
 'original',
 'originally',
 'outside',
 'overboard',
 'overview',
 'owen',
 'oz',
 'packer',
 'page',
 'palma',
 'paquin',
 'parador',
 'paramount',
 'paranormal',
 'paranorman',
 'parent',
 'parental',
 'parenthood',
 'park',
 'particulars',
 'passion',
 'patang',
 'patrick',
 'patriot',
 'paxton',
 'pay',
 'penn',
 'people',
 'perfect',
 'perry',
 'person',
 'pfiefer',
 'pg',
 'phifer',
 'pi',
 'pictures',
 'pie',
 'pitch',
 'pitchperfect',
 'pitt',
 'pixar',
 'platoon',
 'play',
 'played',
 'playing',
 'plays',
 'plot',
 'plots',
 'poland',
 'polish',
 'polley',
 'portugese',
 'possesion',
 'possessed',
 'possible',
 'prada',
 'prejudice',
 'pretty',
 'pride',
 'prison',
 'procuced',
 'produce',
 'produced',
 'producer',
 'producers',
 'produces',
 'producing',
 'production',
 'productions',
 'professional',
 'profile',
 'profiles',
 'profit',
 'profits',
 'provide',
 'pull',
 'pyaar',
 'quentin',
 'rambo',
 'ranam',
 'rate',
 'rated',
 'rating',
 'ratings',
 'ray',
 'realease',
 'realese',
 'rebel',
 'reccommended',
 'receipts',
 'receive',
 'recent',
 'recently',
 'redford',
 'regarding',
 'reiner',
 'relase',
 'relased',
 'related',
 'release',
 'released',
 'releases',
 'relesed',
 'relevant',
 'reliance',
 'remember',
 'republic',
 'request',
 'resident',
 'responsible',
 'restrictions',
 'results',
 'retribution',
 'return',
 'returned',
 'revanche',
 'revenue',
 'revenues',
 'reviews',
 'richard',
 'rickman',
 'ridley',
 'right',
 'rings',
 'rises',
 'rising',
 'rob',
 'robberies',
 'robert',
 'roberto',
 'roberts',
 'robin',
 'rock',
 'rocky',
 'role',
 'roll',
 'romance',
 'romantic',
 'romeo',
 'ron',
 'royale',
 'ruddy',
 'rudy',
 'run',
 'russell',
 'russia',
 'russian',
 'rwanda',
 'ryan',
 'sales',
 'sally',
 'sandlot',
 'sandra',
 'sarah',
 'satyricon',
 'savages',
 'scary',
 'school',
 'sci',
 'scifi',
 'scooby',
 'scorcese',
 'score',
 'scorscese',
 'scorsese',
 'scotland',
 'scott',
 'sean',
 'search',
 'searchlight',
 'seattle',
 'secretariat',
 'select',
 'selena',
 'send',
 'separation',
 'sergio',
 'set',
 'seventeen',
 'sheen',
 'shelly',
 'shepard',
 'shindler',
 'shoot',
 'short',
 'shortcut',
 'shot',
 'showing',
 'shown',
 'shows',
 'sidney',
 'silence',
 'simpson',
 'singer',
 'singleton',
 'sinister',
 'sirisiri',
 'site',
 'skating',
 'sleeping',
 'sleepless',
 'slumdog',
 'smith',
 'snow',
 'social',
 'solo',
 'solondz',
 'sonnenfeld',
 'sort',
 'soul',
 'sound',
 'south',
 'spaceballs',
 'spain',
 'spanglish',
 'spanish',
 'sparkle',
 'speak',
 'speaking',
 'speilberg',
 'spend',
 'spending',
 'spent',
 'spider',
 'spiderman',
 'spielberg',
 'spike',
 'spilberg',
 'spoken',
 'stanton',
 'star',
 'stared',
 'stark',
 'starred',
 'starring',
 'stars',
 'start',
 'starting',
 'states',
 'statham',
 'stats',
 'steel',
 'step',
 'stephen',
 'steven',
 'stewart',
 'stone',
 'stories',
 'storm',
 'story',
 'streep',
 'street',
 'streisand',
 'studio',
 'studios',
 'stuff',
 'suggestions',
 'summary',
 'superman',
 'surfer',
 'suspenseful',
 'swan',
 'swayze',
 'swedish',
 'synopsis',
 'tamil',
 'tarrantino',
 'taxi',
 'taye',
 'tears',
 'ted',
 'television',
 'tell',
 'terminator',
 'terrantino',
 'terry',
 'th',
 'theaters',
 'theatre',
 'theatres',
 'themed',
 'themes',
 'thing',
 'think',
 'thirteen',
 'thoda',
 'thor',
 'thrillers',
 'thunder',
 'ticket',
 'tidbits',
 'tim',
 'time',
 'tin',
 'titanic',
 'title',
 'titles',
 'today',
 'todd',
 'tom',
 'tommyknockers',
 'tonight',
 'tony',
 'topic',
 'total',
 'toy',
 'trainspotting',
 'transformers',
 'transylavania',
 'transylvania',
 'trap',
 'travel',
 'travolta',
 'trouble',
 'troy',
 'tum',
 'turkey',
 'turn',
 'twentieth',
 'twilight',
 'twins',
 'tyler',
 'type',
 'types',
 'uk',
 'union',
 'united',
 'universal',
 'unkrich',
 'upcoming',
 'usa',
 'used',
 'vader',
 'vampires',
 'varsham',
 'victor',
 'videos',
 'vidor',
 'vietnam',
 'view',
 'viewers',
 'vivian',
 'voice',
 'voices',
 'vow',
 'vulgaria',
 'walt',
 'want',
 'war',
 'warner',
 'wars',
 'washington',
 'watch',
 'watching',
 'watson',
 'wb',
 'wears',
 'wedding',
 'weekend',
 'weinstein',
 'welcome',
 'wes',
 'westerns',
 'whats',
 'white',
 'william',
 'willis',
 'wind',
 'wise',
 'wizard',
 'woman',
 'women',
 'wonder',
 ...]

In [70]:
df["UTTERANCES"].str.strip()

0                    who plays luke on star wars new hope
1                          show credits for the godfather
2                  who was the main actor in the exorcist
3       find the female actress from the movie she 's ...
4                         who played dory on finding nemo
                              ...
2307                   what was the revenue for toy story
2308                                  dark knight revenue
2309                 how much did the dark night generate
2310                   can i see the lion king 's revenue
2311          can i see what the lion king 's revenue was
Name: UTTERANCES, Length: 2312, dtype: object

In [79]:
pdf = pdf.astype(int)

In [80]:
pdf

CORE RELATIONS,actor.gender,gr.amount,movie.country,movie.directed_by,movie.estimated_budget,movie.genre,movie.gross_revenue,movie.initial_release_date,movie.language,movie.locations,movie.music,movie.produced_by,movie.production_companies,movie.rating,movie.starring.actor,movie.starring.character,movie.subjects,none,person.date_of_birth
ID,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2307,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2308,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2309,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2310,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2311,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [81]:
pdf.sum(axis=0)

CORE RELATIONS
actor.gender                    9
gr.amount                       5
movie.country                 223
movie.directed_by             346
movie.estimated_budget         79
movie.genre                   129
movie.gross_revenue            34
movie.initial_release_date    189
movie.language                220
movie.locations                 3
movie.music                     3
movie.produced_by             175
movie.production_companies     93
movie.rating                  211
movie.starring.actor          355
movie.starring.character       22
movie.subjects                 94
none                          319
person.date_of_birth            6
dtype: int64

In [82]:
pdf

CORE RELATIONS,actor.gender,gr.amount,movie.country,movie.directed_by,movie.estimated_budget,movie.genre,movie.gross_revenue,movie.initial_release_date,movie.language,movie.locations,movie.music,movie.produced_by,movie.production_companies,movie.rating,movie.starring.actor,movie.starring.character,movie.subjects,none,person.date_of_birth
ID,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2307,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2308,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2309,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2310,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2311,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [87]:
df["CORE RELATIONS"]

0       [movie.starring.actor, movie.starring.character]
1                                 [movie.starring.actor]
2                                 [movie.starring.actor]
3                   [movie.starring.actor, actor.gender]
4       [movie.starring.actor, movie.starring.character]
                              ...
2307                               [movie.gross_revenue]
2308                               [movie.gross_revenue]
2309                               [movie.gross_revenue]
2310                               [movie.gross_revenue]
2311                               [movie.gross_revenue]
Name: CORE RELATIONS, Length: 2312, dtype: object

In [93]:
df[df['CORE RELATIONS']=='none']

        ID                                         UTTERANCES CORE RELATIONS
713    713                                  find movie titles           none
735    735     i need movie information for life is beautiful           none
736    736                       life is beautiful movie page           none
737    737  i want to know more about the movie life is be...           none
738    738   i would like info on the movie life is beautiful           none
...    ...                                                ...            ...
2165  2165               what is the history behind paramount           none
2166  2166                                  look at paramount           none
2196  2196                                 search mgm studios           none
2213  2213                               goto warner brothers           none
2214  2214                                  pixar film studio           none

[319 rows x 3 columns]