In [252]:
import numpy as np
import pandas as pd

In [253]:
df = pd.read_csv("data/hw1_train.csv")

In [254]:
df["CORE RELATIONS"] = df["CORE RELATIONS"].str.split(" ")

In [255]:
# df["CORE RELATIONS"]=df["CORE RELATIONS"].apply(lambda x: sorted(x))

In [256]:
edf = df.explode('CORE RELATIONS')

In [257]:
edf["values"]=str(1)

In [258]:
pdf=edf.pivot(columns="CORE RELATIONS", index='ID', values='values').fillna(str(0))

In [259]:
pdf

CORE RELATIONS,actor.gender,gr.amount,movie.country,movie.directed_by,movie.estimated_budget,movie.genre,movie.gross_revenue,movie.initial_release_date,movie.language,movie.locations,movie.music,movie.produced_by,movie.production_companies,movie.rating,movie.starring.actor,movie.starring.character,movie.subjects,none,person.date_of_birth
ID,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2307,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2308,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2309,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2310,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2311,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [215]:
pdf['UTTERANCES'] = df['UTTERANCES']

In [216]:
pdf.columns[1]

'gr.amount'

In [217]:
pdf[['UTTERANCES','actor.gender', 'gr.amount', 'movie.country', 'movie.directed_by',
       'movie.estimated_budget', 'movie.genre', 'movie.gross_revenue',
       'movie.initial_release_date', 'movie.language', 'movie.locations',
       'movie.music', 'movie.produced_by', 'movie.production_companies',
       'movie.rating', 'movie.starring.actor', 'movie.starring.character',
       'movie.subjects', 'none', 'person.date_of_birth', ]]

CORE RELATIONS,UTTERANCES,actor.gender,gr.amount,movie.country,movie.directed_by,movie.estimated_budget,movie.genre,movie.gross_revenue,movie.initial_release_date,movie.language,movie.locations,movie.music,movie.produced_by,movie.production_companies,movie.rating,movie.starring.actor,movie.starring.character,movie.subjects,none,person.date_of_birth
ID,,,,,,,,,,,,,,,,,,,,
0,who plays luke on star wars new hope,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
1,show credits for the godfather,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,who was the main actor in the exorcist,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,find the female actress from the movie she's t...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,who played dory on finding nemo,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2307,what was the revenue for toy story 3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2308,dark knight revenue,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2309,how much did the dark night generate,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2310,can i see the lion king's revenue,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2311,can i see what the lion king's revenue was,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [218]:
df

,ID,UTTERANCES,CORE RELATIONS
0,0,who plays luke on star wars new hope,"[movie.starring.actor, movie.starring.character]"
1,1,show credits for the godfather,[movie.starring.actor]
2,2,who was the main actor in the exorcist,[movie.starring.actor]
3,3,find the female actress from the movie she's t...,"[movie.starring.actor, actor.gender]"
4,4,who played dory on finding nemo,"[movie.starring.actor, movie.starring.character]"
...,...,...,...
2307,2307,what was the revenue for toy story 3,[movie.gross_revenue]
2308,2308,dark knight revenue,[movie.gross_revenue]
2309,2309,how much did the dark night generate,[movie.gross_revenue]
2310,2310,can i see the lion king's revenue,[movie.gross_revenue]
2311,2311,can i see what the lion king's revenue was,[movie.gross_revenue]

In [219]:
pdf

CORE RELATIONS,actor.gender,gr.amount,movie.country,movie.directed_by,movie.estimated_budget,movie.genre,movie.gross_revenue,movie.initial_release_date,movie.language,movie.locations,movie.music,movie.produced_by,movie.production_companies,movie.rating,movie.starring.actor,movie.starring.character,movie.subjects,none,person.date_of_birth,UTTERANCES
ID,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,who plays luke on star wars new hope
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,show credits for the godfather
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,who was the main actor in the exorcist
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,find the female actress from the movie she's t...
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,who played dory on finding nemo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2307,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,what was the revenue for toy story 3
2308,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,dark knight revenue
2309,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,how much did the dark night generate
2310,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,can i see the lion king's revenue
2311,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,can i see what the lion king's revenue was

In [220]:
from sklearn.model_selection import train_test_split

In [221]:
X, Y = pdf.iloc[:, 0:1], pdf.iloc[:, 1:]

In [150]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.10, random_state=0)

In [155]:
train_df = pd.concat([X_train, y_train], axis=1)
val_df = pd.concat([X_test, y_test], axis=1)

In [249]:
train_df

CORE RELATIONS,UTTERANCES,actor.gender,gr.amount,movie.country,movie.directed_by,movie.estimated_budget,movie.genre,movie.gross_revenue,movie.initial_release_date,movie.language,movie.locations,movie.music,movie.produced_by,movie.production_companies,movie.rating,movie.starring.actor,movie.starring.character,movie.subjects,none,person.date_of_birth
ID,,,,,,,,,,,,,,,,,,,,
2307,what was the revenue for toy story 3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1864,pg movies,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
117,who was in the movie hitch,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1160,watch century fox movies,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
361,release date for little women,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,please show me info on the movie dirty dancing,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1731,i want to see anne hathaway's latest movie,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
763,can you find me movies in russian,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
835,show me a list of all movies made in the unite...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1653,which movies have zombies in them,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [157]:
val_df

CORE RELATIONS,UTTERANCES,actor.gender,gr.amount,movie.country,movie.directed_by,movie.estimated_budget,movie.genre,movie.gross_revenue,movie.initial_release_date,movie.language,movie.locations,movie.music,movie.produced_by,movie.production_companies,movie.rating,movie.starring.actor,movie.starring.character,movie.subjects,none,person.date_of_birth
ID,,,,,,,,,,,,,,,,,,,,
2154,show me the producer of the godfather,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
563,can you tell me who is the director of batman,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
789,get details of original finding nemo movie,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1325,list french movies,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
570,who directed the movie the thing called love,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629,what movies did matt damon appear in,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1510,show me movies starring denzel washington,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1585,movies with r rating,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
578,director of the cabin in the woods,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
600,who directed the sound of music,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [158]:
train_df.to_csv("data/train_df.csv", index=True)
val_df.to_csv("data/val_df.csv", index=True)

In [222]:
from scripts.datatools import make_vectorizer

In [223]:
v= make_vectorizer('data/hw1_train.csv')

In [236]:
v.transform(['some thing in ', 'something in the rain']).toarray().shape

(2, 1016)

In [231]:
b= make_vectorizer('data/hw1_train.csv')

In [251]:
len(v.vocabulary_)

1016

In [274]:
pdf.astype(int).sum()/len(pdf)

CORE RELATIONS
actor.gender                  0.003893
gr.amount                     0.002163
movie.country                 0.096453
movie.directed_by             0.149654
movie.estimated_budget        0.034170
movie.genre                   0.055796
movie.gross_revenue           0.014706
movie.initial_release_date    0.081747
movie.language                0.095156
movie.locations               0.001298
movie.music                   0.001298
movie.produced_by             0.075692
movie.production_companies    0.040225
movie.rating                  0.091263
movie.starring.actor          0.153547
movie.starring.character      0.009516
movie.subjects                0.040657
none                          0.137976
person.date_of_birth          0.002595
dtype: float64